<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add/ninja" method="post">
        <h1>New Ninja</h1>
        <label for="dojo">Dojo:</label>
        <select name="location" id="dojo">
            {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
        </select>
        <label for="first_name">First Name</label>
        <input type="text" name="fname" id="first_name">
        <label for="last_name">Last Name</label>
        <input type="text" name="lname" id="last_name">
        <label for="ag">Age</label>
        <input type="text" name="age" id="ag">
        <button type="submit">Create</button>
    </form>
    <a href="/dojos">Home</a>
        
    
    
</body>
</html>