.main{
    display: flex;
    justify-content: space-around;
    margin-bottom:5%;
}
form{
    padding: 2% 2%;
    margin: 2%;
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 100%;
    background-color:rgb(36, 36, 42);
}
h1{
   
    color: blue;
}
a{
    text-decoration: none;
    color: orange;
}
label{
    color: white;
}
button{
    width: 100px;
}
#addNinja{
    
    color: blue;
}
input{
    margin-bottom: 5%;
}
p{
    color: white
}