body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
text-align: center;
}
.container{
display: flex;

}
.box{
position:relative;
border-style: none;
border-width: 3px;
width: 50px;
height: 50px;
}